@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        background: #000000;
        color: #eeeeee;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
