@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", system-ui, sans-serif;
        @apply antialiased;
        @apply selection:bg-[#f81ce5];
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    img {
        @apply rounded-lg;
    }

    pre,
    code {
        @apply font-mono antialiased;
    }

    blockquote {
        @apply font-serif italic antialiased;
    }
}
